
@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto/Roboto-Black.ttf);
}

body {
    margin: 0px;
    height: 550px;
    display: grid;
    grid-template-columns: 20% 80%; 
    grid-template-rows: 15% 85%;
    font-family: roboto;
}
.header-container {
    background-color: whitesmoke;
    display: grid;
}

.dashboard-wrapper {
    background-color: lightblue;
    display: grid;
}

.main {
    background-color: lightgray;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

/* zoom 2 */

.dashboard-wrapper {
    grid-row: 1 / span 2;
}

.projects-container {
    display: grid;
    grid-row: 1 / span 2;
}

.container {
    display: grid;
    grid-template-rows: 10%;
}


/* dash baord */

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
}

.dashboard-wrapper > div > div {
    display: flex;
    gap: 15px;
}

.dashboard-main,
.dashboard-footer {
    display: grid;
    gap: 10px;
}

.dashboard-header img {
    height: 25px;
}


.dashboard-wrapper img {
    height: 15px;    
}

/*  projects */

.projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.project-container {
    display: grid;
    grid-template-columns: 5% 95%;
    background-color: whitesmoke;
}

.handle {
    background-color: orange;
    grid-row: 1 / span 3;
}

.description {
    font-size: xx-small;
}

img[src="./icons/star-plus-outline.svg"],
img[src="./icons/eye.svg"],
img[src="./icons/source-branch.svg"] {
    height: 10px;
    width: auto;
}


/* Announcements */

.announcements {
    background-color: whitesmoke;
}



/* Trending */

.profiles {
    background-color: whitesmoke;
}



























