
@font-face {
    font-family: roboto;
    src: url(/fonts/Roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: robotoLight;
    src: url(/fonts/Roboto/Roboto-Light.ttf);
}

body {
    margin: 0px;
    height: 350px;
    display: grid;
    grid-template-columns: 20% 80%; 
    font-family: roboto;
}
.header-container {
    background-color: whitesmoke;
    display: grid;
    padding: 10px;
}

.dashboard-wrapper {
    background-color: #0ea5e9;
    display: grid;
}

.main {
    background-color: lightgray;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 3fr 1fr;
    padding: 15px;
}

.main > section {
    display: flex;
    flex-direction: column;
}


/* zoom 2 */

.dashboard-wrapper {
    grid-row: 1 / span 2;
}

.projects-container {
    display: flex;
    flex-direction: column;
}

.container {
    display: grid;
    grid-template-rows: 10%;
}

/* header upper*/

.upper {
    display: flex;
    justify-content: space-between;
}

.stuff {
    display: flex;
    padding-right: 30px;
    gap: 20px;
}

.upper > div > img {
    height: 15px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    padding-left: 10px;
    gap: 10px;
}

/* header lower */

.profile {
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.hero {
    display: grid;
    grid-template-rows: 40% 60%;
    grid-template-columns: 10% 90%;
    padding-left: 15px;
    width: 400px;
}

.hi {
    font-weight: 100;
    font-size: small;
}


.profile > div > img {
    height: 45px;
    grid-row: 1 / span 2;
}

button {
    background-color: #0ea5e9;
    border-radius: 15px;
    padding: 5px;
    border: none;
    color:#f8fafc;
}


/* dash board */

.icon {
    filter: invert(98%) sepia(27%) saturate(124%) hue-rotate(87deg) brightness(103%) contrast(97%);
}

.dashboard-header {
    display: flex;
}    

.dashboard-header > div {
    font-size: large;
    align-items: center;
}

#big {
    height: 25px;
    width: auto;
}

.dashboard-wrapper {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 30px;
    font-size: smaller;
    color: #f8fafc;
}

.dashboard-wrapper > div > div {
    display: flex;
    gap: 15px;
}

.dashboard-main,
.dashboard-footer {
    display: grid;
    gap: 10px;
}

.dashboard-wrapper img {
    height: 15px;    
}

/*  projects */

.project-header {
    padding-bottom: 10px;
}

.projects {
    display: grid;
    flex-basis: 420px;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.projects-container {
    grid-row: 1 / span 2;
}

.project-container {
    display: grid;
    grid-template-columns: 2.5% 97.5%;
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 5px 5px 10px darkgrey;
}

.handle {
    background-color: #eab308;
    grid-row: 1 / span 3;
    border-top-left-radius: 15px;    
    border-bottom-left-radius: 15px;
}

.project {
    display: grid;
    align-self: end;
    padding-left: 20px;
    font-weight: 500;
}

.description {
    font-family: robotoLight;
    font-size: x-small;
    padding-left: 20px;
    padding-right: 10px;
}

img[src="./icons/star-plus-outline.svg"],
img[src="./icons/eye.svg"],
img[src="./icons/source-branch.svg"] {
    height: 15px;
    width: auto;
}

.icons {
    display: flex;
    gap: 10px;
    justify-content: end;
    padding-right: 20px;
}


/* Announcements */

.content {
font-family: robotoLight;
}


.announcement-header {
    padding-bottom: 10px;
}

.announcement-container {
    padding-left: 15px;
}

.announcements {
    background-color: whitesmoke;
    display: grid;
    padding: 20px;
    border-radius: 10px;
    font-size: x-small;
    box-shadow: 5px 5px 10px darkgrey;
}

.announcement-container > div > div {
    display: flex;
    flex-direction: column;
}
.announcement-container > div {
    gap: 20px;
}

.g1,
.g2 {
    padding-bottom: 15px;
    border-bottom: 1px solid lightslategray;
}
/* Trending */


.profiles > div {
    font-size: x-small;
    display: grid;
}

.trending-container {
    padding-left: 15px;
    padding-bottom: 10px;
    padding-top: 7px;
}

.profiles {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: whitesmoke;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px darkgrey;
}

.profile-pic {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 50% 50%;
}

.profile-pic img {
    grid-row: 1 / span 2;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

.name {
    padding: 6px;
}

.user {
    font-family: robotoLight;
    padding-left: 6px;
}





















